/* Core CSS required for Ionic components to work properly */
@import '@ionic/vue/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/vue/css/normalize.css';
@import '@ionic/vue/css/structure.css';
@import '@ionic/vue/css/typography.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/vue/css/padding.css';
@import '@ionic/vue/css/float-elements.css';
@import '@ionic/vue/css/text-alignment.css';
@import '@ionic/vue/css/text-transformation.css';
@import '@ionic/vue/css/flex-utils.css';
@import '@ionic/vue/css/display.css';

/* Theme variables */
@import '@/stylesheets/variables.css';

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@/stylesheets/text-shadow";

@layer utilities {
  .grid-scroll-x {
    @apply grid grid-flow-col overflow-x-auto snap-x snap-mandatory;
  }

  .grid-scroll-x > * {
    @apply snap-start
  }
}

.text-muted {
  @apply text-zinc-500;
}

.reorder-enabled .hide-reorder {
  display: none;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.33s ease-in-out;
  @apply relative flex flex-col align-bottom max-h-full;
}

.slide-down-enter-from,
.slide-down-leave-to {
  @apply max-h-0 opacity-0;
}
