databases:
  - name: db
    databaseName: chordbook
    user: chordbook
services:
  - type: web
    name: web
    env: static
    buildCommand: yarn build
    staticPublishPath: ./public
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin
    routes:
      # Serve index for all unknown paths
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: APP_API_URL
        sync: false
      - key: APP_HOSTNAME
        value: chordbook.app
  - type: web
    name: api
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    healthCheckPath: /ping
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: ADMIN_USER
        value: admin
      - key: ADMIN_PASS
        generateValue: true
      - key: APP_API_URL
        sync: false
      - key: GOOD_JOB_EXECUTION_MODE
        value: async
      - key: GOOD_JOB_MAX_THREADS
        value: 5
      - key: NODE_ENV
        value: production
      - key: RAILS_ENV
        value: production
      - key: THEAUDIODB_API_KEY
        sync: false
      - key: ELASTICSEARCH_URL
        fromService:
          type: pserv
          name: elasticsearch
          property: hostport
      - key: MAILGUN_API_KEY
        sync: false
      - key: MAILGUN_DOMAIN
        sync: false
      - key: YOUTUBE_API_KEY
        sync: false
  - type: pserv
    name: elasticsearch
    env: docker
    dockerfilePath: ./elasticsearch/Dockerfile
    dockerContext: ./elasticsearch
    disk:
      name: esdata
      mountPath: /usr/share/elasticsearch/data
      sizeGB: 10
    autoDeploy: false
    envVars:
    - key: ES_JAVA_OPTS
      value: "-Xms512m -Xmx512m"
    - key: discovery.type
      value: single-node
    - key: cluster.name
      value: elastic
