---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE-API-KEY>&part=snippet&q=Banana%20Pancakes%20by%20Jack%20Johnson&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "q-9GLWKdXM1-lJc4g3Dha0nD1qo",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 552113,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "iPtbxtbZBkzP9r8alCiPW-PV-lg",
              "id": {
                "kind": "youtube#video",
                "videoId": "OkyrIRyrRdY"
              },
              "snippet": {
                "publishedAt": "2008-05-30T13:15:12Z",
                "channelId": "UCudWtuRPUPHNbx0huwlyJmw",
                "title": "Jack Johnson - banana pancakes",
                "description": "jack johnson - banana pancakes.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/OkyrIRyrRdY/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/OkyrIRyrRdY/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/OkyrIRyrRdY/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "l onderwater",
                "liveBroadcastContent": "none",
                "publishTime": "2008-05-30T13:15:12Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "xc5rdNaXtBuBqL2C34eAHpoZuP8",
              "id": {
                "kind": "youtube#video",
                "videoId": "m-v-LGOfaKo"
              },
              "snippet": {
                "publishedAt": "2018-07-31T15:35:52Z",
                "channelId": "UCRa17gWCZmdxEymLdXQhj9A",
                "title": "Banana Pancakes",
                "description[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<YOUTUBE-API-KEY>&part=snippet&q=How%20to%20play%20Banana%20Pancakes%20by%20Jack%20Johnson&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"[...]
