<p>Hi!</p>

<p>We received a request to reset your Chord Book account password.</p>

<p><%= link_to "Set a new password", frontend_url(path: "password/reset", token: @user.password_reset_token) %></p>

<p>If you didn't request a new password, you can ignore this. Reply to this email if you have any questions.</p>

<p>
---<br>
Cheers!<br>
the Chord Book team
</p>
