<p>Hi!</p>

<p>Quick question for you: what are you hoping to get out of Chord Book?</p>

<p>
---<br>
Cheers!<br>
Brandon
</p>

<p style="font-size: 0.75em; opacity: 0.5;">
  If you don't want to hear from me again, you can
  <%= link_to "unsubscribe", mailkick_unsubscribe_url(@user, "news"), style: "color: inherit;" %> anytime.
</p>
