---
http_interactions:
  - request:
      method: get
      uri: https://api.musixmatch.com/ws/1.1/track.search?apikey=<MUSIXMATCH-API-KEY>&f_artist_id=160&q_track=Let%20It%20Be&s_track_rating=desc
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/plain; charset=utf-8
        X-Mxm-Header-Execute-Time:
          - "0.033776998519897"
        X-Mxm-Header-Status:
          - "200"
        X-Restarts:
          - "0"
        X-Varnish-Instance:
          - api
      body:
        encoding: ASCII-8BIT
        string:
          '{"message":{"header":{"status_code":200,"execute_time":0.033776998519897,"available":14},"body":{"track_list":[{"track":{"track_id":89179233,"track_name":"Let
          It Be","track_name_translation_list":[{"track_name_translation":{"language":"u0","translation":"Let
          It Be"}}],"track_rating":71,"commontrack_id":47341444,"instrumental":0,"explicit":0,"has_lyrics":1,"has_subtitles":1,"has_richsync":1,"num_favourite":5085,"album_id":21196056,"album_name":"The
          Beatles 1967-1970 (The Blue Album)","artist_id":160,"artist_name":"The Beatles","track_share_url":"https:\/\/www.musixmatch.com\/lyrics\/The-Beatles\/Let-It-Be-Remastered-2009?utm_source=application&utm_campaign=api&utm_medium=","track_edit_url":"https:\/\/www.musixmatch.com\/lyrics\/The-Beatles\/Let-It-Be-Remastered-2009\/edit?utm_source=application&utm_campaign=api&utm_medium=","restricted":0,"updated_time":"2023-07-06T12:18:37Z","primary_genres":{"music_genre_list":[{"music_genre":{"music_genre_id":14,"music_genre_parent_id":34,"music_genre_name":"Pop","music_genre_name_extended":"Pop","music_genre_vanity":"Pop"}},{"music_genre":{"music_genre_id":21,"music_genre_parent_id":34,"music_genre_name":"Rock","music_genre_name_extended":"Rock","music_genre_vanity":"Rock"}},{"music_genre":{"music_genre_id":1101,"music_genre_parent_id":22,"music_genre_name":"Gospel","music_genre_name_extended":"Christian
          & Gospel \/ Gospel","music_genre_vanity":"Christian-Gospel-Gospel"}}]}}},{"track":{"track_id":87843090,"track_name":"Let
          It Be","track_name_translation_list":[],"track_rating":71,"common[...]
