---
http_interactions:
- request:
    method: get
    uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/search.php?s=Simon%20and%20Garfunkel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"artists":[{"idArtist":"112256","strArtist":"Simon & Garfunkel","strArtistStripped":null,"strArtistAlternate":"Simon
        and Garfunkel","strLabel":"Columbia","idLabel":"43473","intFormedYear":"1963","intBornYear":"1963","intDiedYear":null,"strDisbanded":"Yes","strStyle":"Rock/Pop","strGenre":"Folk","strMood":"Happy","strWebsite":"www.simonandgarfunkel.com","strFacebook":"www.facebook.com/SimonandGarfunkel","strTwitter":"1","strBiographyEN":"Simon
        & Garfunkel were an American music duo consisting of singer-songwriters Paul
        Simon and Art Garfunkel. They formed the group Tom & Jerry in 1957 and had
        their first success with the minor hit \"Hey, Schoolgirl\". As Simon & Garfunkel,
        the duo rose to fame in 1965, largely on the strength of the hit single \"The
        Sound of Silence\". Their music was featured in the landmark film The Graduate
        (1967), propelling them further into the public consci[...]
