---
http_interactions:
  - request:
      method: get
      uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/search.php?s=The%20Beatles
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"artists":[{"idArtist":"111247","strArtist":"The Beatles","strArtistStripped":null,"strArtistAlternate":"Beatles","strLabel":"EMI","idLabel":"43827","intFormedYear":"1957","intBornYear":null,"intDiedYear":"1970","strDisbanded":"Yes","strStyle":"Rock/Pop","strGenre":"Rock","strMood":"Happy","strWebsite":"thebeatles.com","strFacebook":"www.facebook.com/thebeatles","strTwitter":"twitter.com/thebeatles","strBiographyEN":"The
          Beatles were an English rock band formed in Liverpool in 1960, becoming one
          of the most commercially successful and critically acclaimed acts in the history
          of popular music. The group''s best-known lineup consisted of John Lennon
          (rhythm guitar/vocals), Paul McCartney (bass guitar/vocals), George Harrison
          (lead guitar/vocals), and Ringo Starr (drums/vocals). Rooted in skiffle and
          1950s rock and roll, the group later utilised many [...]
  - request:
      method: get
      uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/album.php?i=111247
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"album":[{"idAlbum":"2109680","idArtist":"111247","idLabel":"43827","strAlbum":"The
          Beatles","strAlbumStripped":"The Beatles","strArtist":"The Beatles","strArtistStripped":"The
          Beatles","intYearReleased":"1968","strStyle":"Rock/Pop","strGenre":"Rock &
          Roll","strLabel":"EMI","strReleaseFormat":"Album","intSales":"30000000","strAlbumThumb":"https://www.theaudiodb.com/images/media/album/thumb/suspyw1341916966.jpg","strAlbumThumbHQ":null,"strAlbumThumbBack":null,"strAlbumCDart":"https://www.theaudiodb.com/images/media/album/cdart/the-beatles-4fd296d492455.png","strAlbumSpine":null,"strAlbum3DCase":null,"strAlbum3DFlat":null,"strAlbum3DFace":null,"strAlbum3DThumb":null,"strDescriptionEN":"The
          Beatles is the ninth official album by the English rock group The Beatles,
          a double album released in 1968. It is also commonly known as \"The White
          Album\" as it has no graphics or text other than the band''s name embossed
          (and, on the early LP and CD releases, a serial number) on its plain white
          sleeve.\n\nThe album was written and recorded during a period of turmoil for
          the group, after visiting the Maharishi Mahesh Yogi in Indi[...]
  - request:
      method: get
      uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/artist.php?i=111247
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"artists":[{"idArtist":"111247","strArtist":"The Beatles","strArtistStripped":null,"strArtistAlternate":"Beatles","s[...]
  - request:
      method: get
      uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/track.php?m=2109680
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"track":[{"idTrack":"32724805","idAlbum":"2109680","idArtist":"111247","idLyric":"0","idIMVDB":null,"strTrack":"Back
          in the U.S.S.R.","strAlbum":"The Beatles","strArtist":"The Beatles","strArtistAlternate":null,"intCD":null,"intDuration":"163306","strGenre":"Rock
          & Roll","strMood":null,"strStyle":null,"strTheme":null,"strDescriptionEN":null,"strDescriptionDE":null,"strDescriptionFR":null,"strDescriptionCN":null,"strDescriptionIT":null,"strDescriptionJP":null,"strDescriptionRU":null,"strDescriptionES":null,"strDescriptionPT":null,"strDescriptionSE":null,"strDescriptionNL":null,"strDescriptionHU":null,"strDescriptionNO":null,"strDescriptionIL":null,"strDescriptionPL":null,"strTrackThumb":null,"strTrack3DCase":null,"strTrackLyrics":null,"strMusicVid":null,"strMusicVidDirector":null,"strMusicVidCompany":null,"strMusicVidScreen1":null,"strMusicVidScreen2":null,"strMusicVidScreen3":null,"intMusicVidViews":null,"intMusicVidLikes":null,"intMusicVidDislikes":null,"intMusicVidFavorites":null,"intMusicVidComments":null,"intTrackNumber":"1","intLoved":"0","intScore":"8","intScoreVotes":"2","intTotalListeners":null,"intTotalPlays":null,"strMusicBrainzID":"3566e453-8f10-4a45-ac85-2c72eb183ca1","strMusicBrainzAlbumID":"055be730-dcad-31bf-b550-45ba9c202aa3","strMusicBrainzArtistID":"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d","strLocked":"Unlocked"},{"idTrack":"32724806","idAlbum":"2109680","idArtist":"111247","idLyric":"0","idIMVDB":null,"strTrack":"Dear
          Prudence","strAlbum":"The Beatles","strArtist":"The Beatles","strArtistAlternate":null,"intCD":null,"intDuration":"236360","strGenre":"Rock
          & Roll","strMood":null,"strStyle":null,"strTheme":null,"strDescriptionEN":null,"strDescriptionDE":null,"strDescriptionFR":null,"strDescriptionCN":null,"strDescriptionIT":null,"strDescriptionJP":null,"strDescriptionRU":nu[...]
[...]
