  <div data-songsheet-target="chords" class="grid grid-flow-col auto-cols-max justify-center p-2 bg-gray-50 border-t">
    <template>
      <div data-controller="chord" class="text-center">
        <div data-chord-target="name"></div>
        <div data-chord-target="diagram" class="inline-block"></div>
      </div>
    </template>
  </div>
