
<!-- FIXME: make sticky -->
<div id="chords" class="absolute right-12 top-12">
 <div data-songsheet-target="chords" class="grid grid-flow-row p-2 bg-gray-100 border rounded-lg overflow-auto shadow">
    <template>
      <div data-controller="chord" class="text-center">
        <div data-chord-target="name"></div>
        <div data-chord-target="diagram" class="inline-block"></div>
      </div>
    </template>
  </div>
</div>
