<form class="2xl-container mx-auto md:px-8 lg:px-12" name="settings" data-controller="localstorage" data-action="input->localstorage#save">
  <div class="grid grid-flow-col auto-cols-max divide-x dark:divide-gray-500 items-center">
    <div class="pr-3 hidden lg:block">
      <div class="flex" data-controller="toggle" data-target="#output">
        <div class="toggle">
          <input id="settings-columns-1" type="radio" name="columns" value="1" data-toggle-target="input" data-action="toggle#classes" data-toggle-classes="container mx-auto">
          <label for="settings-columns-1">
            <%= icon_tag "file" %>
          </label>
        </div>
        <div class="toggle">
          <input id="settings-columns-2" type="radio" name="columns" value="2" checked data-toggle-target="input" data-action="toggle#classes" data-toggle-classes="horizontal-columns gap-0 p-6 md:p-8 lg:p-12 overflow-x-auto h-full">
          <label for="settings-columns-2">
            <%= icon_tag "layout-three-columns" %>
          </label>
        </div>
      </div>
    </div>

    <div class="px-3">
      <div class="toggle" data-controller="toggle" data-target="#chords">
        <input id="settings-chord-diagram" type="checkbox" name="chord-diagram" checked data-toggle-target="input" data-action="toggle#visibility">
        <label for="settings-chord-diagram"><%= icon_tag "chord-diagram" %></label>
      </div>
    </div>
    <div class="px-3"><%= link_to 'Edit', edit_songsheet_path(@songsheet), class: "btn btn-muted btn-small" %></div>
  </div>
</form>
