<form class="container mx-auto" name="settings" data-controller="localstorage" data-action="input->localstorage#save">
  <div class="grid grid-flow-col auto-cols-max divide-x items-center">
    <div class="pr-3 hidden lg:block">
      <div class="flex" data-controller="toggle" data-target=".chord-sheet">
        <div class="toggle">
          <input id="settings-columns-1" type="radio" name="columns" value="1" data-toggle-target="input" data-action="toggle#classes">
          <label for="settings-columns-1">
            <%= icon_tag "document" %>
          </label>
        </div>
        <div class="toggle">
          <input id="settings-columns-2" type="radio" name="columns" value="2" checked data-toggle-target="input" data-action="toggle#classes" data-toggle-classes="lg:col-count-2">
          <label for="settings-columns-2">
            <%= icon_tag "book-open" %>
          </label>
        </div>
      </div>
    </div>

    <div class="px-3">
      <div class="toggle" data-controller="toggle" data-target="#chords">
        <input id="settings-chord-diagram" type="checkbox" name="chord-diagram" checked data-toggle-target="input" data-action="toggle#visibility">
        <label for="settings-chord-diagram"><%= icon_tag "chord-diagram" %></label>
      </div>
    </div>
    <div class="px-3"><%= link_to 'Edit', edit_songsheet_path(@songsheet), class: "btn btn-muted btn-small" %></div>
  </div>
</form>
