<div class="container mx-auto py-4">
  <h2>Recently Added</h2>

  <p id="notice"><%= notice %></p>

  <ul>
    <% @songsheets.each do |songsheet| %>
      <li class="my-4">
        <%= link_to songsheet do %>
          <strong><%= songsheet.title || truncate(songsheet.body) %></strong>
          <div><%= songsheet.subtitle %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
