<div data-controller="songsheet" class="h-full flex flex-col">
  <pre hidden data-songsheet-target="source"><%= @songsheet.body %></pre>
  <div class="border-b border-t border-gray-300 bg-gray-100 py-2 text-gray-500 shadow-md">
    <%= render "settings" %>
  </div>

  <div class="flex-grow overflow-auto relative">
    <%= render "chords" %>

    <div class="container mx-auto py-12">
      <div id="output" data-songsheet-target="output"></div>
    </div>
  </div>
</div>
