<div data-controller="songsheet" class="h-full flex flex-col">
  <pre hidden data-songsheet-target="source"><%= @songsheet.body %></pre>
  <div class="flex-grow overflow-auto py-6">
    <div class="container mx-auto">
      <div data-songsheet-target="output" class="lg:col-count-2"></div>
      <%= link_to 'Edit', edit_songsheet_path(@songsheet) %>
    </div>
  </div>

  <%= render "chords" %>
</div>
