@layer components {
  .btn {
    @apply inline-block px-3 py-2 text-sm font-semibold text-center uppercase
      transition duration-200 ease-in-out rounded-md cursor-pointer shadow-sm hover:shadow-md;
  }

  .btn-small {
    @apply text-xs p-2 rounded;
  }

  .btn-primary {
    @apply text-white bg-green-500 hover:bg-green-600;
  }

  .btn-muted {
    @apply border border-gray-200 dark:border-gray-600 dark:text-gray-300;
  }

  .toggle {
    @apply flex text-sm text-center transition duration-200 ease-in-out rounded;

    input[type="radio"], input[type="checkbox"] { @apply hidden-input; }

    label { @apply inline-block p-1; }
    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
      @apply bg-gray-200 dark:bg-gray-800 dark:text-gray-400 shadow-inner shadow-sm;
    }
  }

  .hidden-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
}
