---
http_interactions:
- request:
    method: get
    uri: https://www.theaudiodb.com/api/v1/json/<APIKEY>/album.php?i=111247
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"album":[{"idAlbum":"2109680","idArtist":"111247","idLabel":"43827","strAlbum":"The
        Beatles","strAlbumStripped":"The Beatles","strArtist":"The Beatles","strArtistStripped":"The
        Beatles","intYearReleased":"1968","strStyle":"Rock/Pop","strGenre":"Rock &
        Roll","strLabel":"EMI","strReleaseFormat":"Album","intSales":"30000000","strAlbumThumb":"https://www.theaudiodb.com/images/media/album/thumb/suspyw1341916966.jpg","strAlbumThumbHQ":null,"strAlbumThumbBack":null,"strAlbumCDart":"https://www.theaudiodb.com/images/media/album/cdart/the-beatles-4fd296d492455.png","strAlbumSpine":null,"strAlbum3DCase":null,"strAlbum3DFlat":null,"strAlbum3DFace":null,"strAlbum3DThumb":null,"strDescriptionEN":"The
        Beatles is the ninth official album by the English rock group The Beatles,
        a double album released in 1968. It is also commonly known as \"The White
        Album\" as it has no graphics or text other than the band''s name embossed
        (and, on the early LP and CD releases, a serial number) on its plain white
        sleeve.\n\nThe album was written and recorded during a period of turmoil for
        the group, after visiting the Maharishi Mahesh Yogi in India and having[...]
