.horizontal-columns {
  @apply max-w-none w-auto mx-0 overflow-x-auto h-full gap-x-2 px-4 md:px-8 lg:px-12;
  column-count: auto;
  column-width: var(--column-width);
  column-fill: auto;

  h1, h2 {
    column-span: all;
  }
}

.single-column {
  @apply container;

  .row {
    flex-wrap: wrap;
  }
}

.content-width {
  overflow: auto !important;
  max-width: max-content !important;
  min-width: max-content !important;
  width: max-content !important;
  display: inline-block !important;
  flex-wrap: nowrap !important;
}

.chord-sheet {
  counter-reset: verse;
}

h1, h2 {
  & + .chord-sheet {
    @apply mt-8;
  }
}

.paragraph {
  break-inside: avoid;
}

.paragraph + .paragraph {
  @apply mt-6;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  break-inside: avoid;
}

.column {
  display: flex;
  flex-direction: column;
}

.comment {
  font-weight: bold;
  font-style: italic;
  break-after: avoid;
}

.chord, .lyrics {
  white-space: pre;
}

.tab {
  @apply font-mono text-xs;
}

.lyrics {}

.capo {
  @apply text-sm;
}

*:not(.tab) .chord {
  @apply text-blue-900 dark:text-blue-200 pr-1;
}

.chorus {
  border-left: 4px solid #999;
  padding-left: 1em;

  &::before {
    content: "Chorus:";
    @extend .comment;
  }
}

.verse::before {
  counter-increment: verse;
  content: "Verse " counter(verse) ":";
  @extend .comment;
}

.chord:after, .lyrics:after {
  content: '\200b';
}

.chord-diagram {
  width: 50px;
  height: 65px;
}
