h1, h2, h3, h4, h5, h6 {
  column-span: all
}

.chord-sheet {
  counter-reset: verse;
}

.paragraph {
  break-inside: avoid;
}

.paragraph + .paragraph {
  @apply mt-6;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.comment {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
}

.chord, .lyrics {
  white-space: pre;
}

.lyrics {}

.chord {
  flex-grow: 1;
  font-size: 1rem;
  color: #036;

  &:not(:last-child) {
    padding-right: 0.5rem;
  }
}

.chorus {
  border-left: 4px solid #999;
  padding-left: 1em;

  &::before {
    content: "Chorus:";
    @extend .comment;
  }
}

.verse::before {
  counter-increment: verse;
  content: "Verse " counter(verse) ":";
  @extend .comment;
}

.chord:after, .lyrics:after {
  content: '\200b';
}
